<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet"
        href="{{url_for('static', filename = "styles.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename = "styles.css")}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>




    <div class="main-div-2">
        <div class="container-fluid">

            <div class="container-fluid cool">
                <div class="row heading">
                    <h1 class="logo"> <a style = "text-decoration: none; color: white" href="{{url_for('home')}}"> Options Visualizer</a></h1>

                </div>
            </div>
            <div class="container-fluid selection">
                <h2 class="header-ticker">Ticker: <span class="ticker">{{ticker.upper()}} <span style="color: white"></span> (${{price}})  <span style="color: white"></span></span> </h2>

            </div>
            <div>

                <form action={{ticker}} method="POST">

                    <h3 class="selection-headings">Expiry: </h3>
                    {%for i in range(dates|length)%}
                    <div class="form-check form-check-inline dates">

                        {% if i == expiry %}
                        <input class="form-check-input" type="radio" name="expiry" id="dates"
                            value="{{ dates[i] }}" checked>
                        <label class="form-check-label" for="exampleRadios">
                            {{dates[i]}}
                        </label>

                        {% else %}
                        <input class="form-check-input" type="radio" name="expiry" id="dates"
                            value="{{ dates[i] }}">
                        <label class="form-check-label" for="exampleRadios">
                            {{dates[i]}}
                        </label>
                        {%endif%}
                    </div>
                    {%endfor%}

                    <div>
                        <h3 class="selection-headings"> Type: </h3>
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="type" id="call"
                                value="call" {{call}}>
                            <label class="form-check-label" for="exampleRadios">Call</label>

                        </div>
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="type" id="put"
                                value="put" {{put}}>
                            <label class="form-check-label" for="exampleRadios">Put</label>

                        </div>

                    </div>
                    <div>
                        <h3 class="selection-headings">Strategy: </h3>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="strategy" id="buy"
                                value="buy" {{buy}}>
                            <label class="form-check-label" for="exampleRadios">Buy</label>
                        </div>
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="radio" name="strategy" id="write"
                                value="write" {{write}}>
                            <label class="form-check-label" for="exampleRadios">Write</label>

                        </div>
                    </div>
                    <div class="search">
                        <div class="box">

                            <input id="find-options" type="submit" class="submit-2" name="get_options"
                                value="Find Options">
                        </div>
                    </div>





                </form>
            </div>




            <div class="tbl-section">
                <h2 class="tbl-title">{{ticker.upper()}} Options</h2>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Strike</th>
                                <th>Bid</th>
                                <th>Ask</th>
                                <th>Last</th>
                                <th>Change</th>
                                <th>Volume</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table id="table" cellpadding="0" cellspacing="0" border="0">
                        <tbody>

                            {%for i in range(0, options_chain|length)%}
                            <tr class="data">
                                <td id="row-{{i}}-strike"><a>{{options_chain[i][0]}}</a></td>
                                <td id="row-{{i}}-bid"><a>{{options_chain[i][3]}}</a></td>
                                <td id="row-{{i}}-ask"><a>{{options_chain[i][4]}}</a></td>
                                <td id="row-{{i}}-last"><a>{{options_chain[i][1]}}</a></td>
                                <td id="row-{{i}}-change"><a>{{options_chain[i][2]}}</a></td>
                                <td id="row-{{i}}-volume"><a>{{options_chain[i][5]}}</a></td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>


        <div id="main-div-3">

            <div class="chart-container" style="position: relative; height:50em; width:80em; margin: auto">
                <canvas id="window.myChart"></canvas>
                <div class="slider-div">
                    <input class="slider" style="display: none; " oninput="updateChart(this)" type="range" id="points"
                        value="7" min="5" max="7">
                </div>
            </div>
            <div>
                <script>$(document).ready(function() {
                    var expiry = "{{dates[expiry]}} "
                    var price = "{{price}}"
                    selectedRow(price,expiry)
                });</script>
            </div>
        </div>




        <script src="{{url_for('static', filename='myscripts.js')}}" type=text/javascript> </script> <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="static/scripts.js"></script>
</body>

</html>